/* существуют reset.css и normalize.css для сброса браузерных стилей */
/* упорядочевание стилей csscomb, zend-coding */
/*  CSS preprocessors! */

body
{
    font: normal 14px Arial, sans-serif;
}

.left
{
    width: 40%;
    float: left;
}

.right
{
    width: 40%;
    float: right;
}

/* Module Guestbook */
.guestbook-form-first-name,
.guestbook-form-message
{
    width: 100%;
}

.guestbook-form-message
{
    height: 100px;
    resize: vertical;
}

.guestbook-form .row-button
{
    padding: 10px;

    background-color: #eee;
    text-align: right;
}

.guestbook-form-success
{
    color: green;
}

/* Module Gallery */
.gallery
{
    background-color: #ddd;
    height: 300px;
}

.message
{
    padding: 10px;
    border: 1px solid;
    text-align: center;
}

.message-success
{
    background-color: rgba(0, 128, 0, .40);
    color: green;
}

.message-fail
{
    background-color: rgba(255, 0, 0, .40);
    color: #f00;
}

.message-normal
{
    color: #000;
}
